@import url("https://fonts.googleapis.com/css2?family=Anton&family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Georama" !important;
  font-weight: normal;
  transition: all .4s;
  scroll-behavior: smooth;
  /* overflow-y: hidden; */
}

.swiper-menu{
  color:#fff !important
}

button:hover{
  background-color: #323232 !important;
  color: white;
}

::-webkit-scrollbar {
  appearance: none;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  appearance: none;
  border-radius: 10px;
}

:root {
  --primary-color: darkorange;
}
body{
  /* background: url('/assets/netflix-back.png') !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  /* background: #000 !important;
  color: #fff !important; */
}

.anton,
.anton * {
  font-family: "Anton" !important;
}

.btn-primary {
  background: #000 !important;
  color: #fff;
}

button {
  font-size: 14px !important;
}

.disabled-btn {
  background: none !important;
  opacity: 0.7;
}
.heart{
  background: #ff6b51a5;
  color: #fff;
}

/* responsiveness */

@media screen and (max-width:830px) {
  .search-widget,.category-nav{
    display: none !important;
  }

  .header{
    justify-content: space-around !important;
  }

  .money-back-cta, .cta, .top-slider{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .cta .download-from{
    justify-content: center;
  }
  .cta .cta-img{
    margin: auto;
    align-self: normal !important;
  }
}



@media screen and (max-width:550px) {
  .action-menu button{
    display: none;
  }
}